/* just for layout purposes for the paper kitchen sink */
body {
    padding-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px;

    justify-items: center;
    align-items: center;
}

.quad-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
}

.container,
.quad-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container > div,
.quad-container > div {
    text-align: center;
}

.container > div .tag-name,
.quad-container > div .tag-name {
    color: #aaa;
    display: block;
    padding-bottom: 8px;
}

.container > div paper-progress,
.container > div paper-checkbox {
    margin-bottom: 8px;
}

.container > div paper-checkbox {
    display: block;
}